/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
/.lein-*
/.env
*.log
*.log.*
*.*~
.*~
lock
.emacs.*
resources/public/cljs-admin/
resources/public/cljs/
.nrepl-port
deploy.sh
resources/public/uploads/
config.edn
deps-tree
test.clj
/deploy
deploy.tar.gz
deploy.zip
mktsymbols_v2.zip