{% extends "base.html" %}
{% block title %}
IT Services & Consulting | Enterprise Solutions | Mobile Devlopment | Outsourcing
{% endblock %}
{% block content %}

<div class="row">
  
  <div class="col-md-9">
    <div id="search-bar">
      
    </div>
    <div id="job-list">
      <!--<div class="row job-list">
	<div class="col-md-7">Senior/Principal <a href="#">Software Development Engineer</a> at Looking glass Cyber Solutions</div>
	<div class="col-md-2" >New york</div>
	<div class="col-md-2" >Full time</div>
	<div class="col-md-1" >$25000</div>
      </div>-->
    </div> 
  </div>
  <div class="col-md-2">
    <a href="/join" class="btn btn-primary btn-lg btn-block">
      Post a Project
      
    </a>
    </div>
</div>
{% endblock %}
